@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.layout-cabeçalho{
    display: flex;
    background-color: black;
    border-bottom: 2px solid black;
    /* border-image: linear-gradient(to right, rgb(59, 3, 110), rgb(135, 50, 204)) 1; */
    /* height: 80px; */
    padding: 10px 20px;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    width:100%;

}

.navTop {
    text-align: right;
}

.navHome,.navSobre,.navContatos {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    padding-top: 25px;
    
}

#planos {
    padding: 200px 0;

}

#planos::after {
    content: "";
    display: block;
    clear: both;
}